@charset "utf-8"; /* reset css include */
@import"global.css"; /* ===== layout ====== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;

}
body{
    color: #666;
    font-size: 14px;
    line-height: 22px;
    background: #fff;
}
a{
    text-decoration: none;
    display: block;
}
img{
    vertical-align: top;
    border: none;
}
#wrap{
    width: 100%;
    min-width: 1000px;
    margin: 0 auto;
}
#header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 8px solid #522b1c;
}
#header .header_inner{
    width: 1000px;
    height: 106px;
    margin: 0 auto;
    position: relative;
    z-index: 400;
}
#header .header_inner .logo{
    position: absolute;
    left: 0;
    top: 16px;
}
#header .header_inner .logo a{
    display: inline-block;
    width: 109px;
    height: 77px;
    background: url(../images/logo1.gif);
}
.hide{
    position: absolute;
    left: -9999px;
    top: -9999px;
}
#all_menu{
    display: none;
}
#gnb{
    position: absolute;
    left: 196px;
    top: 23px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: 60%;

}
#gnb > li{
    text-align: center;
    width: 126px;
}
#gnb > li:hover .btn_depth1{
    color: #fff;
    background-color: #ff552e;
}
#gnb > li .btn_depth1{
    display: block;
    height: 63px;
    line-height: 63px;
    padding: 0 0 20px 0;
    color: #1a1a1a;
    font-size: 19px;
}
#gnb>li .depth2{
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
}
#gnb>li .depth2 li a{
    display: block;
    height: 39px;
    line-height: 39px;
    background: #e84a36;
    color: #fff;
}
#gnb>li .depth2 li a:hover{
    background-color: #522b1c;

}
#header .header_inner .sns_wrap{
    position: absolute;
    right: 0;
    top: 39px;
}
#header .header_inner .sns_wrap ul{
    display: flex;
    
}
#header .header_inner .sns_wrap ul li{
    margin-left: 10px;
    
}

#container{
    width: 100%;
    overflow: hidden;
}

/* ===== main ======================================================= */
.main_contents{
    width: 100%;
    min-width: 1002px;
    position: relative;
    overflow: hidden;
}
.main_contents .main_visual_wrap{
    width: 100%;
    position: relative;
    padding-bottom: 94px;
    margin-bottom: 150px;
    overflow: hidden;
}
.main_contents .main_visual_wrap .slider_box{
    width: 100%;
    position: relative;
}
.main_contents .main_visual_wrap .slider_box a{
    width: 100%;
    height: 762px;
    background: #000;
    
}
.main_contents .main_visual_wrap .slider_box a{
    display: none;
}
.main_contents .main_visual_wrap .slider_page{
    display: flex;
    width: 100%;
    vertical-align: top;
    position: absolute;
    left: 0;
    bottom: 135px;
    z-index: 200;
    text-align: center;
}
.main_contents .main_visual_wrap .slider_page span{
    width: 15px;
    height: 15px;
    font-size: 0px;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    background: url(../../images/main/ico_pager1_off.png) 0 0 no-repeat;
    margin: 0 3px;
    vertical-align: top;
    z-index: 1;

}
.main_contents .main_visual_wrap .slider_page span.cycle-pager-active {
    width: 46px;
    background: url(../../images/main/ico_pager1_on.png) 0 0 no-repeat;
}
.main_contents .main_visual_wrap .slider_tabs{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 300;
}
.main_contents .main_visual_wrap .slider_tabs ul{
    width: 1002px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.main_contents .main_visual_wrap .slider_tabs ul li{
    width: 334px;

}
.main_contents .main_visual_wrap .slider_tabs ul li a{
    height: 71px;
    text-align: center;
    font-size: 26px;
    line-height: 71px;
    color: #262626;
}
.main_contents .main_visual_wrap{}
.main_contents .main_visual_wrap{}
.main_contents .main_visual_wrap{}
.main_contents .main_visual_wrap{}
.main_contents .main_visual_wrap{}